# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs
*.log
logs/
debug.log
error.log
npm-debug.log
yarn-debug.log
pnpm-debug.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/dist
/build
/public/build
/public/static
/.next
.next/

# Babel
.babelrc
.babelrc.js
.babelrc.json
.babelrc.cjs
.babelrc.mjs
.browserslistrc

# Webpack
.cache
.nyc_output
coverage/
*.webpack.js
*.webpack.config.js

# Database
*.sqlite
*.sqlite3
dump.rdb
*.db
*.sql
*.pdb
*.ldb
*.pdm

# VS Code
.vscode/
.history/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Others
.idea/
*.swp
*.swo
*.swn
*.swd
*.swm
*.swo
